{% load static %}

<html lang="en">
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
    <link type="text/css" href="{% static 'root/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{% static 'root/images/main.png' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<tr><td valign=top>
{% block mainmenu %}

    <div class="header">
        <form class="search_box" action="{% url 'search' %}" method="get">
            <input class="search_box" type="text" placeholder="SEARCH" name="q">
</form>
        <ul id="mainmenu" class="mainmenu">
    {% for m in menu %}
            <li class="header_li"><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
            <a class="space"></a>
     {% for m in menu2 %}
            <li class="header_li"><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}

        </ul>
</div>

{% endblock mainmenu %}





<td valign=top class="content">
    {% block breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}


</td></tr></table>
</td></tr>


</body>
<style>
    .search_box{
      background: transparent;
      outline: none;
      border: none;
      margin-left: 312px;
      position: absolute;
      margin-top: 0px;
      font-family: 'Chivo', sans-serif;
      font-weight: 200;
      font-size: 22px
    }
    .search_box:active {
         background: none;
         -webkit-appearance: none;
}
</style>
</html>
